# Visual Studio
.vs/
*.user
*.suo

# Build output
bin/
obj/

# NuGet
*.nupkg
packages/
*.nuspec

# Logs
*.log

# OS
Thumbs.db
.DS_Store

# Web app
web_app/node_modules/
web_app/dist/
web_app/dist-ssr/
web_app/.env.local
web_app/.env.*.local
web_app/npm-debug.log*
web_app/yarn-debug.log*
web_app/yarn-error.log*
